@import "./Jetbrains-Mono.css";

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "JetBrains Mono";
}

/* @media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: black;
  }
} */
